- lists.each do |list|
  .l-cardlist
    .cardlist-left
      = render 'lists/is_image', list: list
    .cardlist-right
      %span.listtitle= link_to list.title, list_path(list) , class: "testclass"
      %span.author= link_to list.user.name, user_path(list.user)
      %span.favorite-star
        %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
        = list.list_favorites.count
        
      - if current_user != nil
        -# プレイリストお気入り機能
        %div{:id => "favorite_change-#{list.id}"}
          - if current_user.favorite?(list)
            = render "lists/unfavorite",list: list
          - else
            = render "lists/favorite",list: list

      %p= list.description
      // .more.label
      //   %span.btn-info{:style => "margin-right:5px;"}
      //     %a{:href => "#"} もっと見る
      .tags
        - list.tag_list.each.with_index(0) do |listgenre, i|
          %span.genretag
            = link_to listgenre, chart_path(genre: listgenre, sort: Constants::SORT)
      
    %hr/
    // flg = ユーザー編集ページか判定
  -if flg == true and flg != nil 
    = link_to "delete", list, method: :delete, data: { confirm: "#{list.title}を削除してもよろしいですか?" }
  
