.outer__cardList
  - lists.each_with_index do |list, i|
    .l__cardList
      -if is_signin && is_signed(current_user.id, list.user.id)
        //自分のプレイリスト
        = link_to edit_list_path(list) do
          .cardList__img
            = render 'lists/is_image', list: list
          .cardList__text
            %span.listtitle= list.title
            %span.author= list.user.name
            %p= trun_str(list.description)
            .cardList__footer
              %span.favoriteStar
                %i.material-icons star_rate
                = list.list_favorites.count

              - list.tag_list.each.with_index(0) do |listgenre, i|
                %span.genretag
                  // = link_to listgenre, chart_path(genre: listgenre, sort: Constants::SORT)
                  = listgenre
      -else
        - if is_purchase?(current_user, list) 
          //購入済みリスト
          .cardList__img
            = render 'lists/is_image', list: list
          .cardList__text
            %span.listtitle= link_to list.title, list_path(list) , class: "testclass"
            %span.author= link_to list.user.name, users_playlist_path(list.user)
            %span.favorite-star
              // %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
              %i.material-icons star_rate
              = list.list_favorites.count
            %span.label.label-warning 購入済み
            //プレイリストお気に入り機能
            = render 'lists/fav_form', list: list if user_signed_in?
            
            %p= trun_str(list.description)
            .tags
              - list.tag_list.each.with_index(0) do |listgenre, i|
                %span.genretag
                  = link_to listgenre, chart_path(genre: listgenre, sort: Constants::SORT)
        
        - else
          //まだ購入していないプレイリスト
          %a.modal-syncer.button-link{"data-target" => "modal-content-#{i}"} 
            .cardlist-left
              = render 'lists/is_image', list: list
            .cardlist-right
              // %span.listtitle= link_to list.title, list_path(list) , class: "testclass"
              %span.listtitle= list.title
              // %span.author= link_to list.user.name, user_path(list.user)
              %span.author= list.user.name
              %span.favorite-star
                // %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
                %i.material-icons star_rate
                = list.list_favorites.count
        
              %p= trun_str(list.description)
              .tags
                - list.tag_list.each.with_index(0) do |listgenre, i|
                  %span.genretag
                    // = link_to listgenre, chart_path(genre: listgenre, sort: Constants::SORT)
                    = listgenre

    // ここからモーダルウィンドウ
    .modal-content{:id => "modal-content-#{i}"}
      // モーダルウィンドウのコンテンツ開始
      // Stripe決済部分
      //ログインユーザーのプレイリストじゃなかったら
      = render "charges/stripe_checkout", customer: customer, list: list, cont_no: i
      
      %p= list.title
      %p= link_to list.user.name, users_playlist_path(list.user)
      %p= list.description
      .tags
        - list.tag_list.each.with_index(0) do |listgenre, i|
          %span.genretag
            = link_to listgenre, chart_path(genre: listgenre, sort: Constants::SORT)
      %p
        %a#modal-close.button-link 閉じる
      // モーダルウィンドウのコンテンツ終了

