- if @list.errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - @list.errors.full_messages.each do |message|
        %li= message
= simple_form_for @list do |f|
  .field_playlist
    .list_image
      = image_tag @list.image.url(:thumb)
      = f.input :image, as: :file, label: false
    .list_title
      = f.input :title, label: "プレイリスト名"
    .list_genre
      %label ジャンル
      = f.text_field :tag_list, value: "# " + f.object.tag_list.to_s
      = f.hint '例　# Genre1 # Genre2'

    .list_description
      = f.input :description, label: "詳細"
    .list_price{:style => "margin-bottom: 50px;"}
      // = f.input :price, label: "金額"
      = f.input :price, label: "金額", :collection => Constants::AMOUNT
  %table.table.table-bordered.table-sortable
    %thead{:id => "lines"}
      %tr
        %th
        %th アーティスト
        %th 曲名
        %th 説明
    %tbody{:id => "item_area"}
      = f.fields_for :tracks, @list.tracks.sort_by(&:row_order) do |track|
        = render 'track_fields', f: track
  .field_track_add
    = link_to_add_association '曲を追加する', f, :tracks,:"data-association-insertion-node" => "tbody#item_area",:"data-association-insertion-method" => "append"
  .actions
    = f.submit
    = link_to "削除する", @list, method: :delete, data: { confirm: "#{@list.title}を削除してもよろしいですか?" }
