.container-fluid.l-container
  //ログインしていたら編集できる
  - if is_signin
    - if is_signed(current_user.id, @list.user.id)
      =link_to 'プレイリスト編集', edit_list_path(@list, list: @list)


  .l-playlist
    .ll-playlist
      = image_tag @list.image.url(:thumb)
    
    .rr-playlist
      - if is_signin
        - if !is_signed(current_user.id, @list.user.id)
          = render 'lists/fav_form', list: @list 
          
      %h3 ユーザー
      %span.author= link_to @list.user.name, users_playlist_path(@list.user)
      
      %h3 プレイリスト名
      .span.listtitle= @list.title

      %h3 詳細
      .span= @list.description

      .span= render 'layouts/tag_list', tag_list: @list.tag_list

      %h3 金額
      .span #{@list.price}円


  %table.table.table-bordered.table-sortable
    %tbody#lines
      %tr
        %th
        %th
        %th アーティスト
        %th 曲名
        %th 説明
        // %th 一押し
    - @list.tracks.sort_by(&:row_order).each_with_index do |track, i|
      %tr.track
        %td.track_no
        %td
          - if track.recommend == true
            %span.favoriteStar
              %i.material-icons star_rate
        %td= track.artist
        %td= track.song
        %td= track.description
        

  
