
- if resource.email != nil
  %h2 ご登録ありがとうございます。
  %p 現在はまだ仮登録の状態です。
  %p #{resource.email} に本登録のメールをお送りいたしましたのでご登録をお願いします。
- else
  %h2 本登録メールを再送信します。
  %p 現在はまだ仮登録の状態です。
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, "再送信"
= render "devise/shared/links"
