- if devise_mapping.confirmable? && resource.pending_reconfirmation?
  .alert.alert-warning
    メールアドレスの変更が完了していません。確認のメールを #{resource.unconfirmed_email}に送信しました。変更を完了してください。


%h2
  アカウント編集 #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    .field_name
      = f.input :name, label: "ユーザー名", autocomplete: "off"
    = f.fields_for :user_profile do |m|
      .field_profile
        = m.input :description, label: "ユーザープロフィール", placeholder: 'プロフィールを入力してください', autofocus: true

        = m.input :avatar, as: :file, label: "プロフィール画像"
    .field_email
      = f.input :email, label: "メールアドレス", required: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field_password
      = f.input :password, label: "パスワード変更", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
    .field_password_confirmation
      = f.input :password_confirmation, label: "メールアドレス確認", required: false
  
  .form-actions
    = f.button :submit, "Update"
    
%h2 "プレイリスト一覧"
- @list.each do |list|
  .field_lists
    .title
      = link_to list.title, edit_list_path(list, list: list)  
    
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
