
- if resource.errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message

.l__new__registrations
  %h2 新規登録する
  .inform
    = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
      .form-group
        = f.input :name, required: true, autofocus: true
      .form-group
        = f.input :email, required: true
      .form-group
        = f.input :password, required: true, hint: ("#{@minimum_password_length} 文字以上" if @minimum_password_length)
      .form-group
        = f.input :password_confirmation, required: true
      .form-group.tos_check
        = f.input_field :tos_acceptance, inline_label: "#{link_to '利用規約', term_path, target: ['_blank']}に同意する".html_safe, as: :boolean
        
        
      .form-actions
        = f.button :submit, "登録する"
    = render "devise/shared/links"
