.sc
  .l-profile
    .ll-profile
      = image_tag @user.user_profile.avatar.url(:thumb)

    .rr-profile
      //ログインしていたら編集できる
      - if is_signin
        - if is_signed(current_user.id, @user.id)
          .l__edit
            = link_to "Twitterでログイン", omniauth_authorize_path(:user, :twitter)
            =link_to 'プロフィール編集', edit_user_registration_path, class: "edit__profileButton"
            %span.edit__settingButton.js__subMemu 設定


      %h2.nm #{@user.name}
      = render 'follow_form', user: @user if user_signed_in?

      .description
        = @user.user_profile.description

      = render 'layouts/tag_list', tag_list: @user.tag_list

      .numbers
        %h3
          = "#{@follower}"
          %span フォロワー

        %h3
          = "#{@mylist.count}"
          %span プレイリスト

- if is_signin && is_signed(current_user.id, @user.id)
  %ul.l__profile__tab
    %li{ class: controller.action_name == 'playlist' ? 'active' : '' }
      = link_to "プレイリスト", users_playlist_path(current_user)
    %li{ class: controller.action_name == 'purchasehistory' ? 'active' : '' }
      = link_to "購入履歴", users_purchasehistory_path(current_user)
    %li{ class: controller.action_name == 'favuser' ? 'active' : '' }
      = link_to "フォロー中", users_favuser_path(@user)
    %li{ class: controller.action_name == 'favplaylist' ? 'active' : '' }
      = link_to "お気に入り", users_favplaylist_path(current_user)
