.container-fluid.l-container
    - users.each do |user|
        =link_to user_path(user), {class: "l-userprofile" } do
            .img= image_tag user.user_profile.avatar.url(:thumb)

            .l-text
                %h2.name #{user.name}
                = render 'follow_form' if user_signed_in?

                .discrition= user.user_profile.description

                = render 'layouts/tag_list', tag_list: user.tag_list
