.l__com_info
  %h2 販売事業者情報
  
  .l__com_info__inner
    .container

      - unless @com_errors.empty?
        #error_explanation.alert.alert-danger
          %ul
            - @com_errors.each do |message|
              %li= message
      
      = form_tag(users_stripe_update_path, method: :post) do
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = hidden_field_tag :flg, "com_info"
        
        - if params[:flg].nil?
          // 会社名
          = label_tag :business_name, "販売事業者の名称"
          = text_field_tag :business_name, @com_info.business_name
          
          // 事業者の連絡先
          %p 連絡先
          = label_tag :support_email, "メールアドレス"
          = text_field_tag :support_email, @account.support_email
          
          = label_tag :support_phone, "電話番号"
          = text_field_tag :support_phone, @account.support_phone

          
        - else
          // 会社名
          = label_tag :business_name, "販売事業者の名称"
          = text_field_tag :business_name, @com_info[:business_name]
          
          // 事業者の連絡先
          %p 連絡先
          = label_tag :support_email, "メールアドレス"
          = text_field_tag :support_email, @com_info[:support_email]
          
          = label_tag :support_phone, "電話番号"
          = text_field_tag :support_phone, @com_info[:support_phone]
        
        %button 更新
    
  



