.sc
  .l-profile
    .ll-profile
      %h2 売上管理

      %h3 総額 #{@all_amount} 円
      
      // %h3 今月の売り上げ #{@all_amount} 円
      
      // 年 選択のセレクトボックス
      = select_tag 'page[name]', options_for_select(options_for_select(@date_list, selected: params[:year])), class: "select-year js-hide-search"
      
      %table.table.table-bordered.table-sortable
        %tbody#lines
          %tr
            %th 期間
            %th 売上額
        %tbody#item_area
          - @all_month_amount.each do |key, value|
            %tr.track_item
              %td "#{params[:year]}/#{key}"
              %td #{value}
        

