.sc
  .l-profile
    .ll-profile
      = image_tag @user.user_profile.avatar.url(:thumb)

    .rr-profile
      //ログインしていたら編集できる
      - if is_signin
        - if is_signed(current_user.id, @user.id)
          .l-go-edit
            =link_to 'プロフィール編集', edit_user_registration_path, class: "go-edit"
            = link_to "https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_CU55IGFy2bacKCDlhMVgJ81nDmPqAeDR&scope=read_write" do
              = image_tag("stripe.png")

      %h2.nm #{@user.name}
      = render 'follow_form', user: @user if user_signed_in?

      .description
        = @user.user_profile.description

      %h3 ユーザージャンル
      = render 'layouts/tag_list', tag_list: @user.tag_list

      .numbers
        %h3
          = "#{@follower}"
          %span フォロワー

        %h3
          = "#{@mylist.count}"
          %span プレイリスト

// .sc
//   %h2.ntm プレイリスト一覧
//   = render "lists/list", lists: @list, customer: @customer

- if is_signin && is_signed(current_user.id, @user.id)
  .sc
    %ul.tab
      %li.active 
        = link_to "プレイリスト一覧", "#tab-mylist"
      %li 
        = link_to "購入履歴", "#tab-purchase"
        
  .sc
    .l-tabbox
      #tab-mylist.tabbox
        .mylist.area
          - if @mylist != nil and not @mylist.empty?
            .mylist_area
              = render "lists/list", lists: @mylist_pages, customer: @customer
          -if @mylist_pages != nil
            #mylist_paginator
              = paginate @mylist_pages, param_name: 'mylist_page', :remote => true
      
      #tab-purchase.tabbox
        .purchase.area
          - if @my_purchase != nil and not @my_purchase.empty?
            .purchase_area
              = render "users/purchase", purchases: @my_purchase
          -if @my_purchase_pages != nil
            #my_purchase_paginator
              = paginate @my_purchase_pages, param_name: 'my_purchase_page', :remote => true
-else
  .sc
    %h2.ntm プレイリスト一覧
    = render "lists/list", lists: @mylist, customer: @customer

