- if current_user.id == @user.id
  =link_to '編集ページに移動', edit_user_registration_path
%br/
%br/
= image_tag @user.user_profile.avatar.url(:medium)
%h2 #{@user.name}

%h3 プロフィール
= @user.user_profile.description

%h3 ジャンル
= render 'users/tag_list', tag_list: @user.usergenre_list

%h3 フォロー中
= @following

%h3 フォロワー
= @follower

%h3 プレイリスト数
= @lists

%h3 "プレイリスト一覧"
- @list.each do |list|
  .field_lists
    .title
      -# = link_to list.title, list_path(list, list: list)
