.sc
  .l-profile
    .ll-profile
      = image_tag @user.user_profile.avatar.url(:thumb)

    .rr-profile
      //ログインしていたら編集できる
      - if is_signin
        - if is_signed(current_user.id, @user.id)
          .l-go-edit
            =link_to 'プロフィール編集', edit_user_registration_path, class: "go-edit"

      %h2.nm #{@user.name}
      = render 'follow_form', user: @user if user_signed_in?

      .description
        = @user.user_profile.description

      %h3 ユーザージャンル
      = render 'layouts/tag_list', tag_list: @user.tag_list

      .numbers
        %h3
          = "#{@follower}"
          %span フォロワー

        %h3
          = "#{@list.count}"
          %span プレイリスト

.sc
  %h2.ntm プレイリスト一覧
  // = render :partial => "lists/list", locals: {lists: @list, customer: @customer}
  = render "lists/list", lists: @list, customer: @customer
