.content-container
  .charts_aria
    .charts_main
      // -binding.pry
      // = select_tag 'page[name]', options_for_select([["ランキング", "ranking"], ["新着", "new"]]), class: "select-main js-hide-search"
      = select_tag 'page[name]', options_for_select([["ランキング", "ranking"], ["新着", "new"]], selected: params[:sort]), class: "select-main js-hide-search"
    .charts_spacer
      .charts_genre
        // = select_tag :person, grouped_options_for_select(@tag), multiple: true, class: "js-multiple"
        // = select_tag :person, grouped_options_for_select(@tag), class: "js-search"
        = select_tag :person, options_for_select(@tag, selected: params[:genre]), class: "js-search"

  .content-list
    .span8
      // - @pages.each do |list|
      //   = render list, list: list
      = render list, lists: @pages
      
= render :partial => "layouts/footer"

= paginate @pages 