.content-container
  .charts_aria
    .charts_main
      = select_tag 'page[name]', options_for_select([["ランキング", "ranking"], ["新着", "new"]]), class: "select-main js-hide-search"
    .charts_spacer
      .charts_genre
        // = select_tag :person, grouped_options_for_select(@tag), multiple: true, class: "js-multiple"
        = select_tag :person, grouped_options_for_select(@tag), class: "js-search"

    
  .content-list
    .span8
      - @genre_list.each do |list|
        .newlist
          .inner-list
            .title
              = render 'lists/is_image', list: list
              %h2
                .favorite
                  %span.author>= list.user.name
                  %span.favorite-star
                    %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
                    = list.list_favorites.count
                = list.title
            %p= list.description
            .list-genre
              .more.label
                %a{:href => "#"} もっと見る
              .tags
                // - list.list_genres.each.with_index(0) do |listgenre, i|
                //   %span.btn-info
                //     %a{:href => "#"}= list.list_genres[i][:name]
  
            .clear
          %hr/

= render :partial => "layouts/footer"
