/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 STARLSITZへようこそ
      
    %p
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
    %footer   
      %a.button{:href => "#main"} Go

.l-wrapper
  %section.genre
    .container-fluid.l-container
      .row
        .col-sm-12
          %ul
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
            %li ヒップポップ
        .col-sm-12.text-center
          %a.button{:href => "#"} ジャンルをすべて見る &raquo;
        

        
    .content-area
      %h1.content-title Newプレイリスト
      .span8
        - @newlist.each do |list|
          // -binding.pry
          .newlist
            .inner-list
              .title
                %h2
                  .favorite
                    %span.author>= list.user.name
                    %span.favorite-star
                      %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
                      = list.list_favorites.count
                  = list.name
              %p= list.description
              .list-genre
                .more.label
                  %a{:href => "#"} もっと見る
                .tags
                  - list.list_genres.each.with_index(0) do |listgenre, i|
                    %span.btn-info
                      %a{:href => "#"}= list.list_genres[i][:name]
                
              .clear
            %hr/
  
    

= render :partial => "layouts/footer"
