/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 すべてのプレイリストには価値がある

    %p
      無料登録をしてプレイリストを投稿してみよう！
    
    - if !user_signed_in?
      %footer
        = link_to "無料登録する", new_user_registration_path,{ class: "button" }


%section.top__copy
  %h2 ........とは
  %p ああああさああああああああああああああ
  %p さあああああああああああああああああああああああ


%section.top__discription
  .container-fluid.sc
    .l__block
      .l__text
        %h2 ぶんしょう1
        %p らあああああああああああ
        %p らあああああああああああああああああああ
        %p らああああああああ
      %img{:src => "#{asset_path "listener.png"}"}
  .container-fluid.sc
    .l__block
      .l__text
        %h2 ぶんしょう1
        %p らあああああああああああ
        %p らあああああああああああああああああああ
        %p らああああああああ
      %img{:src => "#{asset_path "listener.png"}"}
  .container-fluid.sc
    .l__block
      .l__text
        %h2 ぶんしょう1
        %p らあああああああああああ
        %p らあああああああああああああああああああ
        %p らああああああああ
      %img{:src => "#{asset_path "listener.png"}"}


%section.top__sample
  %h2 SAMPLE
  %p ここここここここ

  .l__btn__sample
    = link_to "無料登録する", new_user_registration_path,{ class: "button" }



%section.top__question
  %h2 よくある質問
  .l__q
    %p Q. ここに質問内容
  .l__a
    %p A. ここに回答
  .l__q
    %p Q. ここに質問内容
  .l__a
    %p A. ここに回答
  .l__q
    %p Q. ここに質問内容
  .l__a
    %p A. ここに回答


