.content-container
  %h1
  | 検索結果
  
  %ul.tab
    %li user
    %li list
    
  #user.area
    %h2
      | ユーザー
    - if @search_user != nil and not @search_user.empty?
      - @user_pages.each do |user|
        = render :partial => "users/user", locals: {user: user}
      
      = paginate @user_pages, param_name: 'user_page'
  #list.area
    %h2
      | プレイリスト
      // -binding.pry
    - if @search_list != nil and not @search_list.empty?
      - @list_pages.each do |list|
        = render :partial => "lists/list", locals: {list: list}
      
      = paginate @list_pages, param_name: 'list_page'
  
  = render :partial => "layouts/footer"
  

