.content-container
  .l-search-form
    %h2.content-title
      検索

    = search_form_for  @q, html: {class: 'navbar-form' }, url: search_path, enforce_utf8: false do |f|
      
      = text_field_tag :q, @search_word, placeholder: "キーワード", class: "search-box"
      .input-group-btn
        = button_tag "#{content_tag(:i, '', class: 'glyphicon glyphicon-search')}".html_safe, type: :submit, class: 'btn search-btn'
      %i.glyphicon.glyphicon-search


  %ul.tab
    %li.active 
      = link_to "プレイリスト", "#tab-list"
    %li 
      = link_to "ユーザー", "#tab-user"
    %li 
      = link_to "プレイリストジャンル", "#tab-listgenre"
    %li 
      = link_to "ユーザージャンル", "#tab-usergenre"
  
  .l-tabbox
    
    #tab-list.tabbox
      .list.area
        - if @search_list != nil and not @search_list.empty?
          .list_area
            = render "lists/list", lists: @list_pages
        -if @list_pages != nil
          #list_paginator
            = paginate @list_pages, param_name: 'list_page', :remote => true
    
    #tab-user.tabbox
      .user.area
        - if @search_user != nil and not @search_user.empty?
          .user_area
            = render "users/user", users: @user_pages
        -if @user_pages != nil
          #user_paginator
            = paginate @user_pages, param_name: 'user_page', :remote => true
  
    #tab-listgenre.tabbox
      .listgenre.area
        - if @search_listgenre != nil and not @search_listgenre.empty?
          .listgenre_area
            = render 'home/genre_partial/genrelist', tag: @genrelist_pages
        -if @search_listgenre != nil
          #listgenre_paginator
            = paginate @genrelist_pages, param_name: 'genrelist_page', :remote => true
        
    #tab-usergenre.tabbox
      .usergenre.area
        - if @search_usergenre != nil and not @search_usergenre.empty?
          .usergenre_area
            = render 'home/genre_partial/genrelist', tag: @genreuser_pages
        -if @search_usergenre != nil
          #usergenre_paginator
            = paginate @genreuser_pages, param_name: 'genreuser_page', :remote => true

  = render :partial => "layouts/footer"
