
- if @search_user != nil and not @search_user.empty?
    $("#user .user_area").html("#{j(render 'users/user', users: @user_pages)}");
    $("#user_paginator").html("#{escape_javascript(paginate @user_pages, param_name: 'user_page', :remote => true)}");
- if @search_list != nil and not @search_list.empty?
    $("#list .list_area").html("#{j(render "lists/list", lists: @list_pages)}");
    $("#list_paginator").html("#{escape_javascript(paginate @list_pages, param_name: 'list_page', :remote => true)}");
- if @search_usergenre != nil and not @search_usergenre.empty?
    $("#usergenre .usergenre_area").html("#{j(render 'home/genre_partial/genrelist', tag: @genreuser_pages)}");
    $("#usergenre_paginator").html("#{escape_javascript(paginate @genreuser_pages, param_name: 'genreuser_page', :remote => true)}");
- if @search_listgenre != nil and not @search_listgenre.empty?
    $("#listgenre .listgenre_area").html("#{j(render 'home/genre_partial/genrelist', tag: @genrelist_pages)}");
    $("#listgenre_paginator").html("#{escape_javascript(paginate @genrelist_pages, param_name: 'genrelist_page', :remote => true)}");

// ページトップに戻る
window.scrollTo(0,50)
