.content-container
  %h2 検索結果

  %ul.tab
    %li.active
      %a{:href => "#tab-list"} プレイリスト
    %li
      %a{:href => "#tab-user"} ユーザー

  .l-tabbox
    #tab-list.tabbox
      .list_area
        %h2.content-title プレイリスト
        - if @search_list != nil and not @search_list.empty?
          // - @list_pages.each do |list|
          //   = render :partial => "lists/list", locals: {list: list}
          = render :partial => "lists/list", locals: {lists: @list_pages, flg: false}

      #list_paginator
        = paginate @list_pages, param_name: 'list_page', :remote => true


    #tab-user.tabbox
      .user_area
        %h2.content-title ユーザー
        - if @search_user != nil and not @search_user.empty?
          // - @user_pages.each do |user|
          //   = render :partial => "users/user", locals: {user: user}
          = render :partial => "users/user", locals: {users: @user_pages}

      #user_paginator
        = paginate @user_pages, param_name: 'user_page', :remote => true

    = render :partial => "layouts/footer"
