.content-container
  %h1
  | 検索結果
  
  %ul.tab
    %li user
    %li list
    
  #user.area
    %h2
      | ユーザー
    - if @search_user != nil and not @search_user.empty?
      - @user_pages.each do |user|
        = render :partial => "users/user", locals: {user: user}
      
      = paginate @user_pages, param_name: 'user_page', :remote => true
  #list.area
    .list_area
      %h2
        | プレイリスト
      - if @search_list != nil and not @search_list.empty?
        // - @list_pages.each do |list|
        //   = render :partial => "lists/list", locals: {list: list}
        = render :partial => "lists/list", locals: {lists: @list_pages}
      
    = paginate @list_pages, param_name: 'list_page', :remote => true
  
  = render :partial => "layouts/footer"
  

