%p StarListzをご利用いただき、ありがとうございます。
%p ご購入内容の詳細は以下のとおりです。
%br/
%br/
%p --------------------------------------------------------------------------------
%br/
%br/
%p ご注文ID： #{@purchase.uid}
%p 日付： #{@purchase.order_date.strftime("%Y月%m月%d日")}
%p プレイリスト名： #{@purchase.list.title}
%p 金額： ￥#{@purchase.list.price}
%p 決済方法： クレジットカード
%br/
%br/
%p --------------------------------------------------------------------------------
%br/
%br/
%p 	お支払いに関してご不明な点がありましたら、以下の問合せ先までお知らせください。
%br/
%br/
お問い合わせ
%br/
%p= Constants::SUPPORT_MAIL
%br/
StarListz
%br/
%p= Constants::HP_URL
%br/
