%p StarListzからの問い合わせ
%br/
%br/
%p --------------------------
%p <名前＞
%br/
%p= @contact.name
%br/
%br/
%p ＜メールアドレス＞
%br/
%p= @contact.email
%br/
%br/
%p ＜お問い合わせ内容＞
%br/
%p= @contact.message
%br/
%br/
%br/
- if @current_user != nil
  %h1 ログインユーザー
  %br/
  %p ＜ユーザー名＞
  %br/
  %p= @current_user.name
  %br/
  %br/
  %p ＜ユーザー メールアドレス＞
  %br/
  %p= @current_user.email
  %br/
  %br/

%p --------------------------
