.content-container
    .sc.bg-whi
        .l-search-form.imwl
            %h2.h-tit
                検索

            = search_form_for  @q, html: {class: 'navbar-form' }, url: searches_all_result_path, enforce_utf8: false do |f|
                = text_field_tag :q, @search_word, placeholder: "キーワード", class: "search-box"
                = button_tag "#{content_tag(:i, '', class: 'glyphicon glyphicon-search')}".html_safe, type: :submit, class: 'btn search-btn'
  
    .sc
        %ul.l__search__tab
            %li{ class: controller.action_name == 'all_result' ? 'active' : '' }
                = link_to "検索結果", :controller => "searches", :action => "all_result", q: params[:q]
            %li{ class: controller.action_name == 'playlist' ? 'active' : '' }
                = link_to "プレイリスト", :controller => "searches", :action => "playlist", q: params[:q]
            %li{ class: controller.action_name == 'user' ? 'active' : '' }
                = link_to "ユーザー", :controller => "searches", :action => "user", q: params[:q]

