.l__contact
  %h2 お問い合わせ


  .form__contact
    = simple_form_for @contact, :url => contact_thanks_path  do |f|
      - if @contact.errors.any?
        %strong 入力内容にエラーがあります
        %ul
          - @contact.errors.each do |attr, msg|
            %li= msg
      = f.input :name, label: "名前", error: false
      = f.input :email, label: "メールアドレス　(必須)", error: false
      = f.input :title, label: "件名　(必須)", error: false
      = f.input :message, label: "詳細　(必須)", error: false
      = f.submit '送信'
