= form_for @contact, :url => contact_thanks_path do |f|
  %table
    %tr
      %th 名前
      %td
        = f.hidden_field :name
        = @contact.name
    %tr
      %th メールアドレス
      %td
        = f.hidden_field :email
        = @contact.email
    %tr
      %th お問い合わせ内容
      %td
        = f.hidden_field :message
        = simple_format(@contact.message)
  = f.submit '送信'
