- set_meta_tags title: "アカウント情報"

- if @person_info.errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - @person_info.errors.full_messages.each do |message|
        %li= message

.l__personInfo
  %h2 アカウント情報
  
  .l__personInfo__inner
    
    - if @is_ref_list_add == 1
      .personInfoContentHeader
        %p.detail プレイリストを作成するにはアカウント情報の登録が必要です
    
    = simple_form_for [@user, @person_info], url: person_info_path do |f|

      - if @is_ref_list_add == 1
        = hidden_field_tag :is_ref_list_add, @is_ref_list_add
      - else
        = hidden_field_tag :is_ref_list_add, params[:is_ref_list_add]
      
      = f.label :last_name do
        お名前
        %span.form-require 必須
      = f.input :last_name, label: false, error: false, placeholder: '例）山田', as: :string
      = f.input :first_name, label: false, error: false, placeholder: '例）太郎', as: :string
      
      = f.label :last_name_kana do
        お名前カナ
        %span.form-require 必須
      = f.input :last_name_kana, label: false, error: false, placeholder: '例）ヤマダ', as: :string
      = f.input :first_name_kana, label: false, error: false, placeholder: '例）タロウ', as: :string
      
      = f.label :birthday do
        誕生日
        %span.form-require 必須
      = raw sprintf(f.input(:birthday, label:false, as: :date, use_month_numbers: true, :date_separator => '%s', start_year: Date.today.year, end_year: Date.today.year - 100), ' / ',' / ')
      
      = f.label :zipcode do
        郵便番号(ハイフンなし)
        %span.form-require 必須
      = f.input :zipcode, label: false, error: false, placeholder: "例) 1234567"
      
      = f.label :prefecture do
        都道府県
        %span.form-require 必須
      // = select_tag :prefecture, options_for_select(Constants::STATE), data: { placeholder: '選択してください' }
      // = f.input :prefecture, as: :select, label: false, error: false, collection: Constants::STATE
      // = f.input :prefecture, as: :select, label: false, error: false, collection: Prefecture.all, value_method: :id
      = f.input :prefecture_id, as: :select, label: false, error: false, collection: Prefecture.all
      // = f.input :prefecture, as: :select, label: false, error: false, collection: Prefecture.all.collect {|c| [ c.name, c.id ] }
      
      = f.label :city do
        市区町村
        %span.form-require 必須
      = f.input :city, label: false, error: false, placeholder: '例）名古屋市', as: :string
      
      = f.label :address1 do
        番地
        %span.form-require 必須
      = f.input :address1, label: false, error: false, placeholder: '例）中村区1-1', as: :string
      
      = f.label :address2, "建物名"
      = f.input :address2, label: false, error: false, placeholder: '例）柳ビル104', as: :string
      
      = f.label :phone_number, "電話番号"
      = f.input :phone_number, label: false, error: false, placeholder: "例) 08012345678", as: :string
          
      
      - if @person_info.id.nil?
        = f.submit '登録する'
      -else
        = f.submit '変更する'
      
