%footer.l__footer
  %section.footer__box
    %ul.footer__list
      %li.footer__listItem
        = link_to tokutei_path, class: "ga-class ga-footer guide-list" do
          %span.footer__listText 特定商取引法に基づく表示
      %li.footer__listItem
        = link_to privacy_path, class: "ga-class ga-footer guide-list" do
          %span.footer__listText プライバシーポリシー
      %li.footer__listItem
        = link_to about_path, class: "ga-class ga-footer guide-list" do
          %span.footer__listText 運営概要
      %li.footer__listItem
        = link_to contact_path, class: "ga-class ga-footer guide-list" do
          %span.footer__listText お問い合わせ
      %li.footer__listItem
        %a.ga-class.ga-footer-guide-list{:href => ""}
          %span.footer__listText はじめての方へ
      %li.footer__listItem
        = link_to "https://help.starlistz.com/", class: "ga-class ga-footer guide-list" do
          %span.footer__listText StarListzヘルプページ
      %li.footer__listItem
        = link_to term_path, class: "ga-class ga-footer guide-list" do
          %span.footer__listText 利用規約
  %section.l__copyright
    .copyright__inner
      #copyright.copyright__text © StarListz, All Rights Reserved.
