/ Header

%header.navbar-fixed-top
  %nav{:role => "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.menu-button{"data-target" => "#collapse-menu", "data-toggle" => "collapse", :type => "button"}
          .div
            %span.bun
            %span.burger
            %span.bun
        %img{:alt => "", :src => "../assets/Logo.png"}/
        = link_to "Star Listz", root_path, { class: "navbar-brand" }
      / Collect the nav links, forms, and other content for toggling
      #collapse-menu.collapse

        %ul.nav
          - if user_signed_in?
            %strong= link_to current_user.name, current_user
            %li
              =link_to 'ログアウト', destroy_user_session_path, method: :delete
            %li
              =link_to 'マイページ', current_user
            %li.navlist-upload
              = link_to new_list_path do
                %i.fa.fa-plus{"aria-hidden" => "true"}　
                アップロード
            %li.navlist-genre
              = link_to 'チャート', chart_path(genre: Constants::GENRE, sort: Constants::SORT)

          - else
            = search_form_for  @q, html: {class: 'navbar-form' }, url: search_path, enforce_utf8: false do |f|
              .input-group
                = text_field_tag :q, @search_word, placeholder: "キーワード", class: "form-control search-box"
                .input-group-btn
                  = button_tag "#{content_tag(:i, '', class: 'glyphicon glyphicon-search')}".html_safe, type: :submit, class: 'btn btn-default search-btn'
            %li
              =link_to 'サインアップ', new_user_registration_path
            %li.login
              =link_to 'ログイン', new_user_session_path
          %li.dropdown.multi-level
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.glyphicon.glyphicon-option-horizontal
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-submenu
                %a{:href => "#"} Playlistzについて
              %li.divider
              %li
                %a{:href => "#"} お問い合わせ
