!!!
%html
  %head
    %title Starlistz
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    // %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    = csrf_meta_tags
    = Gon::Base.render_data
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link rel="stylesheet" href="http://icono-49d6.kxcdn.com/icono.min.css">

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{class:"#{controller.controller_name}"}
    = render :partial => "layouts/header"

    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert


    .l-wrapper
      = yield

    / Scripts
    // %script{:src => "assets/js/jquery.min.js"}
    // %script{:src => "assets/js/jquery.dropotron.min.js"}
    // %script{:src => "assets/js/jquery.scrolly.min.js"}
    // %script{:src => "assets/js/jquery.scrollgress.min.js"}
    // %script{:src => "assets/js/skel.min.js"}
    // %script{:src => "assets/js/util.js"}
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
    // %script{:src => "assets/js/main.js"}
