!!!
%html
  %head
    %title Starlistz
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    // %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    = csrf_meta_tags
    = Gon::Base.render_data
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', "#{ENV['GOOGLE_TRACKING_ID']}");
    
    // Stripeのkey
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY


    // faviconの設定
    = favicon_link_tag('/favicon_logo/logo32.ico')


  %body{class:"#{controller.controller_name}"}
    = render :partial => "layouts/header"

    %main.l__wrapper
      - flash.each do |type, msg|
        %div{class: "alert_area alert-#{type}"}= msg.html_safe

      .page-content

        = yield
        
    = render :partial => "layouts/footer"

